.body{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.form{
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.form-field{
  width: 40%;
  margin: 1%;
}


.button{
  height: 50px;
}
h1{
  color: #3f51b5;
}
