<div class="container">
  <div class="card" style="width: 18rem;">
    <img src="./assets/images/image.jpg" class="card-img-top" alt="PayFy by IAS software">

    <div class="card-body">
      <h1 class="card-title">
        Electronic Payroll
      </h1>
      <p class="card-text">
        Imagine a world without payroll worries! At Payfy, our accounting software,
        we take care of automating the entire process so companies can spend their time and effort on what
        really matters: growing their business and being happy.
        and effort to what really matters: growing their business and being happy. Forget about payroll headaches
        payroll headaches and trust Payfy for easy and efficient management.
      </p>
    </div>

  </div>


</div>
